{% if include.article.published_url %}
  {% assign link = include.article.published_url %}
{% else %}
  {% assign link = include.article.url %}
{% endif %}

<article id="{{ include.article.slug }}">
  {% if include.article.image_url %}
    <img src="{{ include.article.image_url }}" />
  {% endif %}

  <h2>
    <a href="{{ link }}" target="_blank">{{ include.article.title }}</a>
  </h2>

  {{ include.article.content }}

  {% if include.article.published_url %}
    <p><a href="{{ include.article.published_url }}" target="_blank" class="read-more">Continue reading on {{ include.article.publisher }}</a></p>
  {% endif %}
</article>
