<article id="{{ include.article.slug }}">
  {% if include.article.image_url %}
    <img src="{{ include.article.image_url }}" />
  {% endif %}

  <h2>
    {% if include.article.published_url %}
      <a href="{{ include.article.published_url }}" target="_blank">{{ include.article.title }}</a>
    {% else %}
      {{ include.article.title }}
    {% endif %}
  </h2>

  {{ include.article.content }}

  {% if include.article.published_url %}
    <p><a href="{{ include.article.published_url }}" target="_blank" class="read-more">Continue reading on {{ include.article.publisher }}</a></p>
  {% endif %}

  <p class="byline">
    {% if include.article.published_url %}
      <a href="{{ include.article.published_url }}" target="_blank">{{ include.article.title }}</a>
      was originally published on
      <a href="{{ include.article.published_url }}" target="_blank">{{ include.article.publisher }}</a>
    {% else %}
      <a href="{{ site.url }}/{{ include.article.url }}">{{ include.article.title }}</a>
    {% endif %}

    {% if include.article.date %}
      <span class="date">{{ include.article.date | date: '%Y, %B %-d' }}</span>
    {% endif %}
  </p>
</article>
