<div id="js-writing-tab"
  class="content-tab js-tab {% if page.active_tab == 'writing' %}_active{% endif %}">
  <h2>this is the writing page</h2>
</div>
<div id="js-case-studies-tab"
  class="content-tab js-tab {% if page.active_tab == 'case-studies' %}_active{% endif %}">
  <h2>this is the studies page</h2>
</div>
<div id="js-about-tab"
  class="content-tab js-tab {% if page.active_tab == 'about' %}_active{% endif %}">
  <h1>This is the about page</h1>
</div>
<div id="js-contact-tab"
  class="content-tab js-tab {% if page.active_tab == 'contact' %}_active{% endif %}">
  <h2>this is the contact page</h2>
</div>
