<h1>Contact</h1>
<p id="js-form-response" class="form-response"></p>
<form id="js-submit-form" action="https://formspree.io/jennypreswick@gmail.com" method="POST">
  <input type="hidden" name="_subject" value="[Jennifer Holt Portfolio]: New message!" />
  <label>
    Name
    <input type="text" name="name" class="form-control" required>
  </label>
  <label>
    Email
    <input type="email" name="_replyto" class="form-control" required>
  </label>
  <label>
    Message:
    <textarea name="message" class="form-control" required></textarea>
  </label>
  <button type="submit" class="btn-primary">Send Message</button>
</form>
