<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">

  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.url }}/main.css">
  <style>
    body { font-family: 'Libre Baskerville', Georgia, serif }
  </style>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/favicons/favicon-16x16.png">
  <link rel="manifest" href="{{ site.url }}/favicons/site.webmanifest">
  <link rel="mask-icon" href="{{ site.url }}/favicons/safari-pinned-tab.svg" color="#12844b">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#ffffff">
</head>
