<header class="site-header">
  <h1 class="site-title">
    <a href="{{ site.url }}/"
    class="js-trigger-tab"
    data-tab="js-technical-writing-tab"
    data-path="{{ site.url }}/"
    data-title="{{ site.title }}"
    >Jennifer Holt</a>
  </h1>
  <nav class="main-nav">
    <a href="{{ site.url }}/content-writing"
      class="js-trigger-tab {% if page.active_tab == 'content-writing' %}_active{% endif %}"
      data-tab="js-content-writing-tab"
      data-path="{{ site.url }}/content-writing"
      data-title="{{ site.title }} | Content Writing"
    >Content Writing</a>
    <a href="{{ site.url }}/technical-writing"
      class="js-trigger-tab {% if page.active_tab == 'technical-writing' %}_active{% endif %}"
      data-tab="js-technical-writing-tab"
      data-path="{{ site.url }}/technical-writing"
      data-title="{{ site.title }} | Case Studies"
    >Technical Writing</a>
    <a href="{{ site.url }}/about"
      class="js-trigger-tab {% if page.active_tab == 'about' %}_active{% endif %}"
      data-tab="js-about-tab"
      data-path="{{ site.url }}/about"
      data-title="{{ site.title }} | About"
    >About</a>
    <a href="{{ site.url }}/contact"
      class="js-trigger-tab {% if page.active_tab == 'contact' %}_active{% endif %}"
      data-tab="js-contact-tab"
      data-path="{{ site.url }}/contact"
      data-title="{{ site.title }} | Contact"
    >Contact</a>
  </nav>
</header>
