label {
  display: block;
  margin-bottom: $space-lg;
  font-weight: bold;
  color: $primary-color;
}

.form-control {
  border-radius: $border-radius;
  padding: 8px;
  border: 1px solid $primary-color;
  width: 100%;

  &:focus {
    transition: outline .3s, border-color .3s, box-shadow .3s;
    outline: none;
    border-color: $primary-color-hover;
    box-shadow: 0 0 1px 1px $primary-color-hover;
  }
}

textarea.form-control {
  height: 80px;
  resize: vertical;
}

.btn-primary {
  font-family: 'Libre Baskerville', Georgia, serif;
  font-weight: bold;
  text-align: center;
  white-space: nowrap;

  border-radius: $border-radius;
  padding: .5em 1em;
  cursor: pointer;

  background-color: $primary-color;
  border: 2px solid transparent;
  color: $white;

  &:hover,
  &:focus {
    background-color: $primary-color-hover;
    outline: none;
  }
}

.form-response {
  padding: $space;
  border-radius: $border-radius;
  color: $white;
  transform: translateY(100%);
  opacity: 0;
  transition: transform .2s ease-in, opacity .2s ease-in;
}

.form-response._success {
  background-color: $success;
}

.form-response._warning {
  background-color: $warning;
}

.form-response._slide-in {
  transform: translateY(0);
  opacity: 1;
}

.form-response a {
  color: $white;
  border-bottom: 1px solid $white;
}
