.site-header {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  justify-content: flex-end;
  align-items: center;
  color: $text-color;

  @media ($media-lg) {
    min-height: 50vh;
  }
}

.site-title {
  text-align: center;
  font-size: 2.6rem;
  font-weight: normal;
  margin-bottom: $space-lg;

  @media ($media-lg) {
    font-size: 5rem;
  }
}

.site-title a {
  color: inherit;
  border-bottom: none;
}

.main-nav {
  display: flex;
  background-color: $primary-color;
  border-radius: $border-radius;
  overflow: hidden;
}

.main-nav a {
  padding: $space-sm;
  border-bottom: none;
  color: $white;
  cursor: pointer;
  text-align: center;

  &:hover {
    background-color: $primary-color-hover;
  }

  @media ($media-sm) {
    font-size: 12px;
  }

  @media ($media-lg) {
    padding: $space $space-md;
  }
}

.main-nav a._active {
  background-color: $primary-color-active;
}
