.site-header {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  justify-content: flex-end;
  align-items: center;
  color: $text-color;
}

.site-title {
  text-align: center;
  font-size: 4em;
  font-weight: normal;
  margin-bottom: .5em;

  @media ($media-lg) {
    font-size: 5em;
  }
}

.site-title a {
  color: inherit;
  border-bottom: none;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
  border-radius: 5px;
  overflow: hidden;
}

.main-nav a {
  padding: .6em;
  border-bottom: none;
  color: $white;
  cursor: pointer;

  &:hover {
    background-color: $secondary-color-hover;
  }

  @media ($media-sm) {
    font-size: 14px;
  }

  @media ($media-lg) {
    padding: .8em 1.4em;
  }
}

.main-nav a._active {
  background-color: $secondary-color-active;
}
