$white: #fff;
$off-white: #f5f7f7;

$green: #12844b;
$green-hover: #2c9e65;
$green-active: #006b32;

$gold: #e6b31a;
$gold-hover: #f2bf26;
$gold-active: #cc9900;

$primary-color: $green;
$primary-color-hover: $green-hover;
$primary-color-active: $green-active;

$secondary-color: $gold;
$secondary-color-hover: $gold-hover;
$secondary-color-active: $gold-active;

$warning: #f2705d;
$success: #53c58c;

$text-color: #363938;
$text-color-light: #b1b9b7;

$margin-sm: .5em;
$margin: 1em;
$margin-lg: 1.6em;
$margin-xl: 2em;

$space-xs: .25rem;
$space-sm:  .5rem;
$space:      1rem;
$space-md: 1.6rem;
$space-lg:   2rem;
$space-xl:   4rem;

$border-radius: 6px;

$media-sm: "max-width: 699px";
$media-lg: "min-width: 700px";

html,
body {
  font-size: 14px;

  @media ($media-lg) {
    font-size: 18px;
  }
}

body {
  color: $text-color;
  padding-bottom: $space-lg;
}

a {
  color: $primary-color;
  border-bottom: 1px solid $primary-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $primary-color-hover;
    border-bottom: 1px solid $primary-color-hover;
  }
}

.underline-404 {
  text-decoration: underline;
  -webkit-text-decoration-color: $warning;
  -webkit-text-decoration-style: wavy;
}
