.site-content {
  max-width: 820px;
  margin: 0 auto;
  line-height: 1.8;
  padding: $space-lg $space;

  @media ($media-lg) {
    padding: $space-xl;
  }
}

.site-content article {
  margin-bottom: $space-xl;
}

.site-content h1,
.site-content h2 {
  color: $primary-color;
  font-size: 1.4rem;
  line-height: 1.4;
  margin-bottom: initial;
  margin-top: $space;

  @media ($media-lg) {
    font-size: 1.6rem;
  }
}

.site-content h3 {
  font-size: 1.2rem;
  margin-bottom: -1rem;
  margin-top: $space;
}

.site-content img {
  max-height: 200px;
  object-fit: cover;
  width: 100%;
  border-radius: $border-radius;
}

.site-content p {
  margin-bottom: $space;
}

.site-content .read-more {
  color: $text-color-light;
  border-bottom: 1px solid $text-color-light;

  &:after {
    content: "\2026";
  }
}
