<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="site-content">
      <div id="js-content-writing-tab"
        class="content-tab js-tab {% if page.active_tab == 'content-writing' %}_active{% endif %}">
        {% assign sorted_stories = site.content-writing | sort: 'date' %}
        {% for story in sorted_stories reversed %}
          {% include article.html article=story %}
        {% endfor %}
      </div>

      <div id="js-technical-writing-tab"
        class="content-tab js-tab {% if page.active_tab == 'technical-writing' %}_active{% endif %}">
        {% assign sorted_studies = site.technical-writing | sort: 'date' %}
        {% for study in sorted_studies reversed %}
          {% include article.html article=study %}
        {% endfor %}
      </div>

      <div id="js-about-tab"
        class="content-tab js-tab {% if page.active_tab == 'about' %}_active{% endif %}">
        {% include about.html %}
      </div>

      <div id="js-contact-tab"
        class="content-tab js-tab {% if page.active_tab == 'contact' %}_active{% endif %}">
        {% include contact.html %}
      </div>
    </div>

    <script src="{{ site.url }}/js/tabs.js" defer></script>
    <script src="{{ site.url }}/js/form.js" defer></script>
  </body>
</html>
