<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="site-content">
      <div id="js-writing-tab"
        class="content-tab js-tab {% if page.active_tab == 'writing' %}_active{% endif %}">
        {% for story in site.writing %}
          {% include article.html article=story %}
        {% endfor %}
      </div>

      <div id="js-case-studies-tab"
        class="content-tab js-tab {% if page.active_tab == 'case-studies' %}_active{% endif %}">
        {% for study in site.case-studies %}
          {% include article.html article=study %}
        {% endfor %}
      </div>

      <div id="js-about-tab"
        class="content-tab js-tab {% if page.active_tab == 'about' %}_active{% endif %}">
        {% include about.html %}
      </div>

      <div id="js-contact-tab"
        class="content-tab js-tab {% if page.active_tab == 'contact' %}_active{% endif %}">
        {% include contact.html %}
      </div>
    </div>

    <script src="{{ site.url }}/js/tabs.js" defer></script>
    <script src="{{ site.url }}/js/form.js" defer></script>
  </body>
</html>
