<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    {% include header.html %}

    <div class="site-content">
      <h1><span class="underline-404">Theres'</span> been a <span class="underline-404">mistaek</span>.</h1>
      <p><strong>404: Page not found.</strong> Maybe a page was moved, or maybe it didn't exist at all. If you think it's a problem, please <a href="{{ site.url }}/contact">let me know</a>, otherwise <a href="{{ site.url }}/">continue browsing</a>.</p>
    </div>
  </body>
</html>
